*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    box-shadow: 6px 6px 6px rgba(196, 195, 195, 0.3);
    
}

body{
        background-color: #E8E8E9;
}

.inicio{

    /* background-image: url(../img/fondoportada.svg); */
    /* background-position: top; */   
    
    /* background-repeat: no-repeat;
    background-size: 100%; */
}

.backgroundGris{
    background-color: #E8E8E9;
}

.colorGris{
    color: #E8E8E9;
}

nav{
    /* background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(53,51,205,1) 100%); */
    
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px 10%;
}

nav ul{    
    /* background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(53,51,205,1) 100%); */
    /* background-color: gray; */
    background-image: url(../img/fondoportada.svg);
    background-position: top;
    position: absolute;
    padding: 0px;
    left: 0;
    top: 77px;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    transform: translateY(-112%);
    color: #062D3E;
}

nav ul hr{
    color: white;
    
}

.active{
    visibility: visible;
    transform: translateY(0%);
}

nav ul li{
    list-style: none;
    /* background-color: blueviolet; */
    width: 50%;
    padding: 15px 10%;
}

nav a{
    display: flex;
    align-items: center;
    text-decoration: none;
    /* color: white; */
    color: #062D3E;
    font-size: 1.5rem;
}

.colorAzulOscuro{
    color: #062D3E;
}

.logo{
    font-weight: bold;
}

nav i{
    display: flex;
    font-size: 3rem;
    /* color: white; */
    color: #062D3E;
}

/*inicio*/

.inicio{
    display: flex;
    flex-direction: column;
    margin-top: 12px;

}

.presentacion{
    display: flex;
    flex-direction: column;
    padding: 4%;
    color: #062D3E;
    
}

.imagenPresentacion{
    display: flex;
    order: -1;
    
}

main div img{
    width: 100%;
}

.h2Programador{
    background-color: #062D3E;
    color: white;
    padding: 6px 17px;
}

.h2Diseñador{
    background-color: #D26021;
    padding: 6px 17px;
}

.descargarCV{
    background-color: #062D3E;
    color: white;
    padding: 6px 17px;
    border-radius: 20px;
    width: 160px;
}

.contenedorButtonCV{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.sobreMi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    color: white;
    background-color: #2F516C;
    padding: 5%;
}

.habilidades{
    /* background-image: url(../img/fondoportada.svg); */
    background-position: top;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

a{
    text-decoration: none;
    color: white;
}

/* .botonDesarrolloWeb{
    background-color: #2F516C;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.botonDiseño{
    background-color: #D26021;    
    color: #062D3E;
}

.contenedorBotonesDesarrollo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%;
}

.contenedorBotonesDiseño{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

.descripcionLenguajes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
}

.subtituloHabilidades{
    font-weight: lighter;
}

.msjHabilidades{
    font-style: italic;
}

.accordion-button{
    background-color: #2F516C;
    color: white;
    
}

.accordion{
    margin-bottom: 20px;
}

.backgroundNaranja{
    background-color: #D26021;
}

.contenedorFormación{
    display: flex;
    flex-direction: column;
    padding: 5%;
    background-color: white;
}

.contenedorTituloFormacion{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.contenedorBotonesDiplomas{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2%;
    
}

.buttonDiploma{
    /* margin: 3% 6% 3% 0px; */
    background-color: #2F516C;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    /* width: 44%; */
    
}

@media(min-width: 576px){

    .inicio{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .h2Diseñador{
        font-size: larger;
    }

    .h2Programador{
        font-size: larger;
    }

    .presentacion{
        display: flex;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .contenedorButtonCV{
        height: 100%;
    }

    .descargarCV{
        align-self: end;
    }

    .sobreMi{        
        padding: 5%;
        margin: 5% 0;
        margin-bottom: 0;
    }

    .contenedorBotonesDesarrollo{
        justify-content: start;
    }

    .contenedorBotonesDiseño{
        justify-content: start;
    }
    
    .habilidades{
        padding: 5% 10%;
    }

    .contenedorFormación{
        padding: 5% 10%;
    }

    
}

@media(min-width: 768px){
    nav i{
        display: none;
        
    }

    nav ul li{
        display: inline;
        margin: 0px;
        padding: 0px;
        
    }

    nav ul{
        display: flex;
        width: 75%;
        height: auto;
        align-items: center;
        position: relative;
        background: none;
        top: 46px;
        transition: 0s;
        
    }

    nav ul li a{
        font-size: 0.9rem;
        display: flex;
        justify-content: center;
    }

    .imagenPresentacion{
        order: 1;
    }

    .inicio{
        padding: 0px 10%;
    }

    .presentacion{
        padding: 0px;
        padding-right: 15px;
    }

    .sobreMi{
        padding: 5% 10%;
    }

}

@media(min-width: 992px){
    .imagenPresentacion{
        height: 500px;
    }

    .imgDelInicio{
        object-fit: contain;
    }

    .inicio{
        padding: 0px 10%;
    }

    .presentacion{
        padding: 0px;
    }

}

@media(min-width: 1200px){
    .imagenPresentacion{
        height: 550px;
        
    }

    .imgDelInicio{
        object-fit: contain;
        
    }

    .presentacion{
        padding-right: 50px;
    }

}

@media(min-width: 1400px){

}